In [11]:
studet_name = "Jignesh"

In [19]:
type(studet_name)

str

In [20]:
sales = 230.50

In [21]:
type(sales)

float

In [22]:
Quantity = 3

In [23]:
type(Quantity)

int

In [24]:
Quantity

3

In [26]:
sales_200  = sales > 200

In [28]:
type(sales_200)

bool

In [ ]:
#Python collection DataTypes
#Lists
#Tuples
#Sets
#Dictionaries

In [103]:
mylist = [21,34,33,23,33,43,44,33,44,33,23,22,32,33,22]

In [31]:
type(mylist)

list

In [33]:
mylist[7]

33

In [35]:
mylist[13]

33

In [37]:
mylist[-2]

33

In [47]:
mylist[-1:6:-2]

[22, 32, 23, 44]

In [40]:
mylist

[21, 34, 33, 23, 33, 43, 44, 33, 44, 33, 23, 22, 32, 33, 22]

In [46]:
mylist[0:7:3]

[21, 23, 44]

In [44]:
mylist[1:7:2]

[34, 23, 43]

In [48]:
mylist

[21, 34, 33, 23, 33, 43, 44, 33, 44, 33, 23, 22, 32, 33, 22]

In [49]:
mylist[-1:6:-1]

[22, 33, 32, 22, 23, 33, 44, 33]

In [50]:
mylist[6:-1]

[44, 33, 44, 33, 23, 22, 32, 33]

In [54]:
mylist.append([20,21,26,27])

In [57]:
del mylist[-1]

In [60]:
mylist.extend([20,21,26,27])

In [63]:
help (mylist.extend)

Help on built-in function extend:

extend(iterable, /) method of builtins.list instance
    Extend list by appending elements from the iterable.

In [67]:
mylist.insert(4,30)

In [71]:
mylist.clear()

In [75]:
mylist1 = mylist.copy()

In [76]:
mylist1

[21, 34, 33, 23, 33, 43, 44, 33, 44, 33, 23, 22, 32, 33, 22]

In [77]:
mylist.count(33)

5

In [78]:
mylist.index(33)

2

In [101]:
mylist.pop()

IndexError: pop from empty list

In [83]:
mylist.remove(33)

In [89]:
mylist.reverse()

In [95]:
mylist.sort()

In [97]:
mylist.reverse()

In [100]:
mylist.clear()

In [99]:
len(mylist)

7

In [116]:
sum(mylist)

530

In [107]:
import numpy as np
np.mean(mylist)

31.533333333333335

In [109]:
mylist1=mylist.copy()

In [112]:
mylist[5]=100

In [113]:
mylist

[21, 34, 33, 23, 33, 100, 44, 33, 44, 33, 23, 22, 32, 33, 22]

In [115]:
mylist1

[21, 34, 33, 23, 33, 43, 44, 33, 44, 33, 23, 22, 32, 33, 22]

In [117]:
mylist.count()

TypeError: count() takes exactly one argument (0 given)

In [119]:
mylist.sort()

In [121]:
mylist.reverse()

In [124]:
mylist[0:4]=[0,0,0,0]

In [143]:
mylist.insert(200,9)

In [144]:
mylist

[21, 21, 23, 23, 33, 30, 32, 36, 34, 41, 55, 43, 44, 9, 9, 9]

In [136]:
mylist = [21,21,23,23,33,30,32,36,34,41,55,43,44]

In [137]:
mylist[1:12:5]

[21, 32, 43]

In [138]:
mylist[1:12:4]

[21, 30, 41]

In [145]:
mylist = [1,2.3, True, 'Edureka']

In [151]:
type(mylist[3])

str

In [152]:
sum(mylist)

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [153]:
type(mylist
    )

list

In [179]:
mytuple = (3,4,5,4,5,4,5)

In [155]:
type(mytuple)

tuple

In [156]:
mylist = [3,4,5,4,5,4,5]

In [157]:
type(mylist)

list

In [158]:
mylist[1]=100

In [159]:
mylist

[3, 100, 5, 4, 5, 4, 5]

In [160]:
mytuple[1]=100

TypeError: 'tuple' object does not support item assignment

In [161]:
mylist=[1,2,3]
mylist1 = ['a','c',True]

In [170]:
mylist=mylist+mylist1

In [171]:
mylist

[1, 2, 3, 'a', 'c', True]

In [164]:
mylist*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [181]:
sum(mytuple.count(4))

TypeError: 'int' object is not iterable

In [167]:
mytuple.index(3)

0

In [172]:
mytuple1=mytuple

In [173]:
mytuple1

(3, 4, 5, 4, 5, 4, 5)

In [174]:
sum(mytuple1)

30

In [175]:
len(mytuple)

7

In [177]:
mytuple=('a','c',3)

In [186]:
list(mytuple)

[3, 4, 5, 4, 5, 4, 5]

In [189]:
mytuple = (10,)

In [190]:
type(mytuple)

tuple