In [11]:
studet_name = "Jignesh"

In [19]:
type(studet_name)

str

In [20]:
sales = 230.50

In [21]:
type(sales)

float

In [22]:
Quantity = 3

In [23]:
type(Quantity)

int

In [24]:
Quantity

3

In [26]:
sales_200  = sales > 200

In [28]:
type(sales_200)

bool

In [ ]:
#Python collection DataTypes
#Lists
#Tuples
#Sets
#Dictionaries

In [103]:
mylist = [21,34,33,23,33,43,44,33,44,33,23,22,32,33,22]

In [31]:
type(mylist)

list

In [33]:
mylist[7]

33

In [35]:
mylist[13]

33

In [37]:
mylist[-2]

33

In [47]:
mylist[-1:6:-2]

[22, 32, 23, 44]

In [40]:
mylist

[21, 34, 33, 23, 33, 43, 44, 33, 44, 33, 23, 22, 32, 33, 22]

In [46]:
mylist[0:7:3]

[21, 23, 44]

In [44]:
mylist[1:7:2]

[34, 23, 43]

In [48]:
mylist

[21, 34, 33, 23, 33, 43, 44, 33, 44, 33, 23, 22, 32, 33, 22]

In [49]:
mylist[-1:6:-1]

[22, 33, 32, 22, 23, 33, 44, 33]

In [50]:
mylist[6:-1]

[44, 33, 44, 33, 23, 22, 32, 33]

In [54]:
mylist.append([20,21,26,27])

In [57]:
del mylist[-1]

In [60]:
mylist.extend([20,21,26,27])

In [63]:
help (mylist.extend)

Help on built-in function extend:

extend(iterable, /) method of builtins.list instance
    Extend list by appending elements from the iterable.

In [67]:
mylist.insert(4,30)

In [71]:
mylist.clear()

In [75]:
mylist1 = mylist.copy()

In [76]:
mylist1

[21, 34, 33, 23, 33, 43, 44, 33, 44, 33, 23, 22, 32, 33, 22]

In [77]:
mylist.count(33)

5

In [78]:
mylist.index(33)

2

In [101]:
mylist.pop()

IndexError: pop from empty list

In [83]:
mylist.remove(33)

In [89]:
mylist.reverse()

In [95]:
mylist.sort()

In [97]:
mylist.reverse()

In [100]:
mylist.clear()

In [99]:
len(mylist)

7

In [116]:
sum(mylist)

530

In [107]:
import numpy as np
np.mean(mylist)

31.533333333333335

In [109]:
mylist1=mylist.copy()

In [112]:
mylist[5]=100

In [113]:
mylist

[21, 34, 33, 23, 33, 100, 44, 33, 44, 33, 23, 22, 32, 33, 22]

In [115]:
mylist1

[21, 34, 33, 23, 33, 43, 44, 33, 44, 33, 23, 22, 32, 33, 22]

In [117]:
mylist.count()

TypeError: count() takes exactly one argument (0 given)

In [119]:
mylist.sort()

In [121]:
mylist.reverse()

In [124]:
mylist[0:4]=[0,0,0,0]

In [143]:
mylist.insert(200,9)

In [144]:
mylist

[21, 21, 23, 23, 33, 30, 32, 36, 34, 41, 55, 43, 44, 9, 9, 9]

In [136]:
mylist = [21,21,23,23,33,30,32,36,34,41,55,43,44]

In [137]:
mylist[1:12:5]

[21, 32, 43]

In [138]:
mylist[1:12:4]

[21, 30, 41]

In [145]:
mylist = [1,2.3, True, 'Edureka']

In [151]:
type(mylist[3])

str

In [152]:
sum(mylist)

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [153]:
type(mylist
    )

list

In [179]:
mytuple = (3,4,5,4,5,4,5)

In [155]:
type(mytuple)

tuple

In [156]:
mylist = [3,4,5,4,5,4,5]

In [157]:
type(mylist)

list

In [158]:
mylist[1]=100

In [159]:
mylist

[3, 100, 5, 4, 5, 4, 5]

In [160]:
mytuple[1]=100

TypeError: 'tuple' object does not support item assignment

In [161]:
mylist=[1,2,3]
mylist1 = ['a','c',True]

In [170]:
mylist=mylist+mylist1

In [171]:
mylist

[1, 2, 3, 'a', 'c', True]

In [164]:
mylist*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [181]:
sum(mytuple.count(4))

TypeError: 'int' object is not iterable

In [167]:
mytuple.index(3)

0

In [172]:
mytuple1=mytuple

In [173]:
mytuple1

(3, 4, 5, 4, 5, 4, 5)

In [174]:
sum(mytuple1)

30

In [175]:
len(mytuple)

7

In [177]:
mytuple=('a','c',3)

In [186]:
list(mytuple)

[3, 4, 5, 4, 5, 4, 5]

In [3]:
mytuple = (10,)

In [4]:
type(mytuple)

tuple

# Day 2 - 14th March NITW

In [5]:
mylist = [1,2,3,4]

In [8]:
mylist = [['Python','r'], ['R','Java','Python'],['Tableau'],'R',['SQL']]

In [10]:
type(mylist)

list

In [15]:
type(mylist[3])

str

In [16]:
mytuple = (['Python','r'], ['R','Java','Python'],['Tableau'],'R',['SQL'])

In [21]:
mytuple[0][1]='Java'

In [22]:
mytuple

(['Python', 'Java'], ['R', 'Java', 'Python'], ['Tableau'], 'R', ['SQL'])

In [23]:
mytuple[0:2]

(['Python', 'Java'], ['R', 'Java', 'Python'])

In [27]:
list(range(5,10,2))

[5, 7, 9]

In [28]:
list(range(5,10))

[5, 6, 7, 8, 9]

In [32]:
list(range(10,2,-2))

[10, 8, 6, 4]

In [ ]:
for condition {
    statement1
    statement2
}
statement3

In [ ]:
for condition:
    statement1
    statement2
statement3

In [40]:
for i in range(0,5):
    print(i)
    print('Hi')
print('Hellow')

0
Hi
1
Hi
2
Hi
3
Hi
4
Hi
Hellow

In [35]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [37]:
range(0,10)

range(0, 10)

In [48]:
student = ['A','B','C','D','E']
rollno = [1,2,3,4]
marks = [34,54,54,65,34]

In [49]:
for (s,r,m) in zip(student,rollno,marks):
    print('Hello', s, 'your roll no is: ', r, 'your marks is: ', m)
print('All the roll nos are assigned')

Hello A your roll no is:  1 your marks is:  34
Hello B your roll no is:  2 your marks is:  54
Hello C your roll no is:  3 your marks is:  54
Hello D your roll no is:  4 your marks is:  65
All the roll nos are assigned

In [50]:
sales = [4354,6566,4554,5455]
profit = [345,545,345,564]

In [51]:
profit/sales

TypeError: unsupported operand type(s) for /: 'list' and 'list'

In [52]:
profitratio = []
for i in range(0,len(sales)):
    profitratio.append(profit[i]/sales[i])
profitratio

[0.07923748277446027,
 0.08300335059396893,
 0.07575757575757576,
 0.10339138405132905]

In [56]:
mycust = {'cust_name':'Rahul', 'Age':34, 'Region':'Central', 'Product':'Python'}

In [58]:
mycust['Region']

'Central'

In [59]:
mycust = {'Cust_name':['Rahul','Rohit','Rajat'],
         'Age':[34,33,32],
         'Region':['Central','North','South'],
         'Product':['Python','R','Tableau']}

In [61]:
mycust['Cust_name']

['Rahul', 'Rohit', 'Rajat']

In [62]:
mycust['Sales'] = [125,250,200]

In [66]:
mycust['Profit'] = [12,'NA',23]

In [67]:
mycust

{'Cust_name': ['Rahul', 'Rohit', 'Rajat'],
 'Age': [34, 33, 32],
 'Region': ['Central', 'North', 'South'],
 'Product': ['Python', 'R', 'Tableau'],
 'Sales': [125, 250, 200],
 'Profit': [12, 'NA', 23]}

In [68]:
type(mycust)

dict

In [72]:
mycust.fromkeys({'Cust_name','Product'})

{'Product': None, 'Cust_name': None}

In [73]:
mycust.get('Cust_name')

['Rahul', 'Rohit', 'Rajat']

In [79]:
mycust.items()

dict_items([('Cust_name', ['Rahul', 'Rohit', 'Rajat']), ('Age', [34, 33, 32]), ('Region', ['Central', 'North', 'South']), ('Product', ['Python', 'R', 'Tableau']), ('Sales', [125, 250, 200]), ('Profit', [12, 'NA', 23])])

In [80]:
mycust.keys()

dict_keys(['Cust_name', 'Age', 'Region', 'Product', 'Sales', 'Profit'])

In [83]:
mycust.pop('Profit')

[12, 'NA', 23]

In [84]:
mycust

{'Cust_name': ['Rahul', 'Rohit', 'Rajat'],
 'Age': [34, 33, 32],
 'Region': ['Central', 'North', 'South'],
 'Product': ['Python', 'R', 'Tableau'],
 'Sales': [125, 250, 200]}

In [89]:
mycust.popitem()

('Region', ['Central', 'North', 'South'])

In [91]:
mycust.values()

dict_values([['Rahul', 'Rohit', 'Rajat'], [34, 33, 32]])

In [92]:
mycust.setdefault('Course')

In [94]:
mydict = {'cn':'a', 'ca':23, 'cr':'s'}
mydict2 = {'cs':230, 'cp':'Python'}

In [96]:
mydict.update(mydict2)

In [98]:
mydict['cn']='R'

In [99]:
mydict

{'cn': 'R', 'ca': 23, 'cr': 's', 'cs': 230, 'cp': 'Python'}

In [103]:
mycust['Cust_name'][2]='Richa'

In [104]:
mycust

{'Cust_name': ['Rahul', 'Rohit', 'Richa'], 'Age': [34, 33, 32], 'Course': None}

In [105]:
mydict1 = {'a':'b'}

In [107]:
mydict1.setdefault('Name')

In [108]:
mydict1

{'a': 'b', 'Name': None}

In [109]:
mydict1 = {'a':'b', 'c':'d'}
mydict2 = {'a':'x','e':'f'}

In [111]:
mydict1.update(mydict2)

In [113]:
mydict1.setdefault('z')

In [115]:
mydict1.setdefault('a')

'x'

In [116]:
mydict1

{'a': 'x', 'c': 'd', 'e': 'f', 'z': None}

In [131]:
mydict1 = {1:[1,2,3,4]}
mydict2 = {'a':[2,2,3,4]}

In [132]:
mydict1.update(mydict2)

In [133]:
mydict1

{1: [1, 2, 3, 4], 'a': [2, 2, 3, 4]}

In [127]:
mycust = {'custname':['A','B','C','D','E'],
         'age':[12,13,14,15,16],
         'region':['S','N','E','N','S']}

In [128]:
mycust

{'custname': ['A', 'B', 'C', 'D', 'E'],
 'age': [12, 13, 14, 15, 16],
 'region': ['S', 'N', 'E', 'N', 'S']}

In [129]:
import pandas as pd

In [134]:
type(pd.DataFrame(mycust))

pandas.core.frame.DataFrame

In [135]:
myset = {1,2,2,3,3,4,4,5,6,6,7,7,8,8,8,8,8,8,9}

In [137]:
myset[1]

TypeError: 'set' object is not subscriptable

In [139]:
myset.add(10)

In [143]:
myset.add([10,11,12])

TypeError: unhashable type: 'list'

In [145]:
myset.update([10,11,12])

In [146]:
myset

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

In [153]:
myset.discard(4)

In [154]:
myset

{1, 2, 3, 5, 6, 7, 8, 9, 10, 11, 12}

In [157]:
myset.remove(5)

KeyError: 5

In [156]:
myset

{1, 2, 3, 6, 7, 8, 9, 10, 11, 12}

In [158]:
myset.update([[13,14],[15,16]])

TypeError: unhashable type: 'list'

In [163]:
myset.pop()

2

In [167]:
list(myset)

[3, 6, 7, 8, 9, 10, 11, 12]

In [178]:
myset1 = {1,2,3,4}
myset2 = {1,2,3,4,5,5,6,7}

In [172]:
myset2.difference(myset1)

set()

In [173]:
myset2.intersection(myset1)

{2, 3}

In [176]:
myset1.isdisjoint(myset2)

True

In [179]:
myset1.issubset(myset2)

True

In [181]:
myset2.issuperset(myset1)

True

In [187]:
myset1.difference_update(myset2)

In [189]:
myset1 = {1,2,3,4,5}
myset2 = {1,2,3}

In [190]:
myset1.intersection_update(myset2)

In [192]:
type(myset1)

set

In [197]:
A = {'a','b','c','d','e'}

B = {1,2,3,4}

In [198]:
A.symmetric_difference(B)

{1, 2, 3, 4, 'a', 'b', 'c', 'd', 'e'}

In [199]:
A.symmetric_difference_update(B)

In [201]:
x = set()

In [203]:
type(x)

set